body {
    background-color: wheat;
    margin: 0 auto;
    // display: flex;
    // justify-content: center;
    // flex-wrap: wrap;
    // align-content: flex-start;
    // height: 100vh;
    .container {
        width: 900px;
        margin: 0 auto;
    }
}

header {
    .gray {
        background-color: grey;
    }
    .flex1 {
        display: flex;
        justify-content: space-between;
        // padding-left: 20px;
    }
    .zagolovok1 {
        display: flex;
        justify-content: space-between;
    }
    .flex2 {
        display: flex;
        //     justify-content: flex-end;
        div {
            padding-left: 30px;
        }
    }
}

main {
    margin-top: 70px;
    .foter {
        display: flex;
        justify-content: center;
        // .block1 {
        //     height: 20px;
        //     background-image: url(https://cdn-icons-png.flaticon.com/512/4942/4942902.png);
        // }
        .block {
            padding-top: 50px;
            padding-left: 10px;
            padding-right: 10px;
            .icon {
                background-color: skyblue;
                width: 50px;
                height: 50px;
                margin: 0 auto;
                border-radius: 50%;
            }
            i {
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                font-size: 20px;
            }
        }
    }
    .img_backgr {
        height: 300px;
        background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v546batch3-mynt-34-badgewatercolor_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=89288ef4b47127f7f34a5998b50e4470);
        color: rgb(136, 0, 255);
        .container {
            display: flex;
            // align-items: center;
            height: 100%;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
        }
        .zagolovok2 {
            font-size: 35px;
            text-align: center;
        }
        .min_zago2 {
            font-size: 15px;
            text-align: center;
        }
    }
}

footer {
    .container {
        display: flex;
        justify-content: space-around;
    }
    margin-top: 50px;
    font-size: 18px;
}

@media screen and (max-width: 900px) {
    .container {
        width: 100% !important;
    }
    main {
        .foter {
            flex-wrap: wrap;
            .block {
                width: 100%;
                text-align: center;
            }
        }
    }
}