
.blockL {
  background-color: rgb(216, 11, 7);
  height: 200px;
  width: 20%;
}

.block2_2 {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 200px;
  width: 20%;
}
.blockK {
  background-color: rgb(0, 255, 47);
  height: 48%;
  width: 100%;
}
.block3 {
  background-color: rgb(106, 0, 255);
  height: 48%;
  width: 100%;
  gap: 10px;
}
.block2 {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  flex-wrap: wrap;
}
