body {
    background-color: #4169E1;
}

.container {
    width: 600px;
    margin: 0 auto;
}

header>div {
    width: 200px;
    margin: 0 auto;
}

header ul {
    display: flex;
    list-style: none;
    padding: 10;
    justify-content: space-around;
    font-size: 18px;
    /* vertical-align; */
    margin-top: 100px;
    /* padding-top: 20px; */
}

.photo img {
    width: 200px;
}

.info {
    display: flex;
}

ul {
    list-style: none;
}

.text {
    display: flex;
}

main {
    background-color: white;
    margin: 0 auto;
    /* яке margin-left?? центруй */
    /* або флексами або margin: 0 auto; */
    /* margin-left: 200px; */
    padding-left: 20px;
    padding-top: 10px;
}

.text_data2 {
    /* justify-content: space-around;
    list-style: none; */
    display: inline-flex;
}

.text2 {
    display: flex;
}

.osn {
    display: flex;
    justify-content: space-around;
}

.info2 {
    color: yellowgreen;
}

.logo {
    color: gold;
}