body {
    background-color: #4169E1;
}

header ul {
    display: flex;
    list-style: none;
    padding: 10;
    justify-content: space-around;
    font-size: 18px;
    /* vertical-align; */
    margin-top: 100px;
    /* padding-top: 20px; */
}

main {
    background-color: white;
    width: 600px;
    height: 300px;
    margin: 0 auto;
    /* яке margin-left?? центруй */
    /* або флексами або margin: 0 auto; */
    /* margin-left: 200px; */
    padding-left: 20px;
    padding-top: 10px;
}