body {
    background-color: wheat;
    margin: 0 auto;
}

.container {
    background-color: grey;
    height: 0 auto;
    width: 0 auto;
    // margin: 0 auto;
}

.Zagol {
    .aezf {
        margin-left: 100px;
    }
    .block3 {
        // display: flex;
        justify-content: flex-end;
    }
}

.block1 {
    display: flex;
    justify-content: space-between;
}

// .block2 {
//     display: flex;
//     justify-content: flex-;
// }/
.div {
    .img {
        width: 200px;
        height: 200px;
    }
}