a:hover {
    color: red;
    text-decoration: none;
    background-color: red;
}

a:active {
    color: green;
}

table {
    background-color: gray;
    width: 300px;
    text-align: center;
    height: 200px;
    /* border: 1px solid red; */
}

td {
    border: 1px solid red;
}

tr:nth-child(2n-1) td:nth-child(2n-1) {
    background-color: blue;
}

tr:hover td:nth-child(2n-1) {
    background-color: green;
    color: white;
}

p:nth-child(3n) {
    color: red;
}

.fixed {
    top: 20px;
    position: sticky;
}

.last {
    margin-top: 1000px;
}